.action {
  text-align: center;

  &__title {
    margin-bottom: 7.9rem;
  }

  &__button {
    min-width: 18rem;
    min-height: 5.6rem;

    font-size: 1.8rem;
    line-height: 1.2em;
    font-weight: bold;

    color: $dark-color;
    border: 0.1rem solid $dark-color;
  }
}
