.header {
  padding-top: 5.2rem;

  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    padding-top: 8.7rem;

    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__nav {
    width: 100%;
    padding-top: 2.2rem;

    @media screen and (min-width: 768px) {
      width: initial;
    }
  }
}
