.intro {
  &__descr {
    margin-bottom: 2rem;
    text-align: center;

    @media screen and (min-width: 992px) {
      margin-bottom: 10.6rem;
    }

    @media screen and (min-width: 1800px) {
      margin-bottom: 20.6rem;
    }
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__text {
    margin: 0 auto;

    font-size: 1.6rem;
    line-height: 2em;
    color: #999;

    @media screen and (min-width: 768px) {
      width: 61.7rem;
    }
  }

  &__content {
    display: flex;
    flex-flow: row wrap;

    @media screen and (min-width: 768px) {
      width: 61.7rem;
      margin: auto;
    }

    @media screen and (min-width: 992px) {
      justify-content: space-between;
    }

    @media screen and (min-width: 1200px) {
      justify-content: space-around;
    }

    @media screen and (min-width: 1800px) {
      width: inherit;
      justify-content: space-between;
    }
  }

  &__reviews {
    width: inherit;
    margin: auto;
    margin-bottom: 4rem;

    text-align: center;

    @media screen and (min-width: 576px) {
      margin-bottom: 0;
    }

    @media screen and (min-width: 768px) {
      padding-top: 2rem;
      text-align: left;
    }

    @media screen and (min-width: 1800px) {
      margin: 0;
      padding-top: 1.6rem;
    }

    &-title {
      margin-bottom: 3.7rem;
      text-align: center;
    }

    &-list {
      // max-width: 45rem;

      @media screen and (min-width: 768px) {
        display: flex;
        margin-bottom: 2rem;

        justify-content: space-between;
      }

      @media screen and (min-width: 1800px) {
        display: block;
        width: 26.8rem;
      }
    }

    &-item {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: #e7e7e7;
      // margin-bottom: 4.4rem;

      @media screen and (min-width: 768px) {
        max-width: 26.8rem;
        margin-bottom: 0;

        border-bottom-color: transparent;
      }

      &:not(:last-child) {
        margin-bottom: 0;

        @media screen and (min-width: 1800px) {
          margin-bottom: 4.4rem;
        }
      }
    }
  }

  &__quote {
    position: relative;

    margin: 0;
    margin-bottom: 1.2rem;

    &::before {
      position: absolute;
      top: 1rem;
      z-index: -1;

      display: block;
      width: 3.6rem;
      height: 2.9rem;

      background-image: url(../images/quote.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      content: '';

      @media screen and (min-width: 768px) {
        left: -1.8rem;
      }
    }

    &-text {
      margin: 0;
      margin-bottom: 0.9rem;

      font-size: 1.6rem;
      line-height: 1.9375em;
      font-style: italic;
      color: #999;
    }

    &-author {
      font-size: 1.6rem;
      line-height: 1.9375em;
      font-style: normal;
    }
  }

  &__main-video {
    position: relative;

    width: 61.7rem;
    height: 43.6rem;
    margin: auto;
    margin-bottom: 4rem;

    background-image: url(../images/main-video-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (min-width: 576px) {
      margin-bottom: 0;
      margin-bottom: 4rem;
    }

    &-button {
      position: absolute;
      left: 2.4rem;
      bottom: 3.3rem;
      z-index: 1;
    }
  }

  &__videos {
    width: inherit;
    margin: auto;
    text-align: center;
    // padding-top: 2rem;

    @media screen and (min-width: 768px) {
      padding-top: 7rem;
    }

    @media screen and (min-width: 992px) {
      // width: 100rem;
    }

    @media screen and (min-width: 1800px) {
      padding-top: 1.6rem;
      text-align: left;
    }

    // @media screen and (min-width: 1200px) {
    //   width: 100rem;
    // }

    @media screen and (min-width: 1800px) {
      width: initial;
      margin: 0;
    }

    &-title {
      margin-bottom: 2.7rem;
    }

    &-list {
      @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
      }

      // @media screen and (min-width: 1200px) {
      //   display: flex;
      // }

      @media screen and (min-width: 1800px) {
        display: block;
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
    }

    &-button {
      position: absolute;
      left: -1rem;
      bottom: -1rem;
      z-index: 1;
    }

    &-item {
      position: relative;

      width: 28.2rem;
      height: 15.5rem;

      @media screen and (min-width: 992px) {
        // margin-right: 6.5rem;
      }

      @media screen and (min-width: 1200px) {
        // margin-right: 10.5rem;
      }

      @media screen and (min-width: 1800px) {
        margin-right: 0;
      }

      &:nth-child(1) {
        margin-bottom: 3.6rem;

        background-image: url(../images/video-bg-1.jpg);
        background-position: center;
        background-size: cover;
      }

      &:nth-child(2) {
        background-image: url(../images/video-bg-2.jpg);
        background-position: center;
        background-size: cover;
      }
    }
  }
}
